@use "../util/functions" as f;
@use "../globals/colors" as colors;
@use "../globals/fonts" as fonts;

.search-section {
	width: 80%;
	max-width: f.rem(800);
}

.search {
	width: 70%;
}

.search-bar {
	font-family: fonts.$main-font;

	padding: f.rem(8) f.rem(10);
	width: 100%;
	height: f.rem(40);

	background-color: rgb(247, 247, 247);
	color: colors.$main-color;

	border: none;
	border-radius: f.rem(12);
	outline: none;
}

.error {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: f.rem(8);
	padding: f.rem(6) f.rem(10);
	color: rgb(216, 46, 46);

	width: 100%;
	min-height: f.rem(40);
}

.search-button {
	background-color: rgb(247, 247, 247);
	width: f.rem(40);
	height: f.rem(40);
	border: none;
	border-radius: 50%;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 70%;
		height: 70%;
		transition: all 150ms ease-in-out;
	}

	&:hover {
		background-color: rgb(233, 232, 232);
		svg {
			width: 85%;
			height: 85%;
		}
	}
}
