@use "../util/functions" as f;

.weather-icon {
	width: min(90%, f.rem(175));
	height: min(70%, f.rem(175));

	&.light-rain {
		content: url(./images/weather_icons/light-rain.svg);
	}
	&.rain {
		content: url(./images/weather_icons/moderate_rain.svg);
	}
	&.thunder {
		content: url(./images/weather_icons/thunder.svg);
	}
	&.snow {
		content: url(./images/weather_icons/snow.svg);
	}
	&.cloudy-day {
		content: url(./images/weather_icons/cloudy_day.svg);
	}
	&.cloudy-night {
		content: url(./images/weather_icons/cloudy_night.svg);
	}
	&.clear-day {
		content: url(./images/weather_icons/sunny.svg);
	}
	&.clear-night {
		content: url(./images/weather_icons/clear_night.svg);
	}
	&.wind {
		content: url(./images/weather_icons/windy.svg);
	}
}
