@use "../util/functions" as f;

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: f.rem(50);
}

.current {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
