@use "../util/functions" as f;
@use "../globals/colors" as colors;

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main {
	padding: f.rem(30) 0;
	width: 100%;
	height: min(100%, f.rem(800));
	max-height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: f.rem(50);
}

.forecast {
	width: 100%;
	height: 100%;
	display: flex;
}

.main-info,
.secondary-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&.inactive {
		display: none;
	}
}

.loading {
	&.inactive {
		display: none;
	}
}

.current {
	width: min(80%, 450px);
	height: min(90%, f.rem(600));
	border-radius: f.rem(12);
	padding: f.rem(20);
	background-color: colors.$text-box;
	overflow-y: auto;
	position: relative;

	margin: auto;

	display: flex;
	flex-direction: column;
}

.search-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	gap: f.rem(10);

	.search {
		display: flex;
		flex-direction: column;
		gap: f.rem(10);
	}
	.error {
		display: none;
		&.active {
			display: block;
		}
	}
}

.main-info {
	margin: auto;
}

.secondary-info {
	gap: f.rem(10);
	position: relative;
	bottom: 0;
	margin: auto;
}
